{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
<link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block vue_app %}
<div id="app-visualizer">
    {% endblock %}

    {% block content %}
    <h1>[[voting.name]]</h1>
        <div>
            <b-button v-b-toggle.collapse-2 variant="primary">Resultados</b-button>
            <b-collapse id="collapse-2" class="mt-2">
              <b-card>
                <p class="card-text">        
                <div class="voting container">
                    <h2 v-if="!voting.start_date">Votación no comenzada</h2>
                    <h2 v-else-if="!voting.end_date">Votación en curso</h2>
                    <div v-else>
                        <h2 class="heading">Resultados:</h2>
        
                        <div aria-labelledby="chartsInfo" class="row my-5 text-left">
                          <input id="votacion" type="hidden" value="{{voting}}">
                          <div class="col-lg-6">
                              <b-card class="mb-2">
                                  <div class="mb-4">
                                      <canvas id="bar-resultados" aria-label="Diagrama con resultados"></canvas>
                                  </div>
                              </b-card>
                          </div>
                          <div class="col-lg-6">
                              <b-card class="mb-2">
                                  <div class="mb-4">
                                      <canvas id="pie-porcentaje" aria-label="Diagrama con porcentaje de voto en cada opción"></canvas>
                                  </div>
                              </b-card>
                          </div>
                      </div>
                    </div>
                </div></p>
                </b-collapse>
              </b-card>
            </b-collapse>
          </div>

        <div>
            <b-button v-b-toggle.collapse-1 variant="primary">Más información</b-button>
            <b-collapse id="collapse-1" class="mt-2">
              <b-card>
                <p class="card-text"></p>
                <div>
                    <h2 v-if="!voting.start_date">Votación no comenzada</h2>
                    <h2 v-else-if="!voting.end_date">Votación en curso</h2>
                    <div v-else >
                    <h2 id="titulo_metricas">Métricas</h3>
                    <table class="estadisticas_votacion" id="metricas">
                        <tr>
                            <td>Descripcion votacion</td>
                            <td>[[ voting.desc ]]</td>
                        </tr>
                        <tr>
                          <td>Fecha inicio</td>
                          <td>{{inicio}}</td>
                        </tr>
                        <tr>
                            <td>Fecha fin</td>
                            <td>{{fin}}</td>
                        </tr>
                        <tr>
                            <td>Duración total de la votación</td>
                            <td>{{duracion}}</td>
                        </tr>
                        <tr>
                            <td>Cantidad de votos</td>
                            <td>{{cantidad_votos}}</td>
                        </tr>
                        <tr>
                            <td>Cantidad de votantes</td>
                            <td>{{cantidad_votantes}}</td>
                        </tr>
                        <tr>
                            <td>Porcentaje de abstención</td>
                            <td>
                            </div>
                            <template>
                                <div>
                                  {% if abstencion == 0 %}
                                  <b-progress :max="max">
                                    <b-progress-bar :value=100>
                                      <span>No ha habido abstención</span>
                                    </b-progress-bar>
                                  </b-progress>
                                {% else %}
                                  <b-progress class="mt-2" :max="max" show-value>
                                    <b-progress-bar :value={{abstencion}} variant="danger"></b-progress-bar>
                                  </b-progress>
                                {% endif %}
                                </div>
                              </template>
                              
                              <script>
                                export default {
                                  data() {
                                    return {
                                      max: 100
                                    }
                                  }
                                }
                              </script>
                            </td>
                        </tr>
                      </table>
                </div>
                </b-collapse>
              </b-card>
            </b-collapse>
          </div>
          <br>
        
    </div>
</div>
{% endblock %}

{% block extrabody %}
<!-- Vuejs -->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<script>
    var voting = {{voting|safe}};
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-visualizer',
        data: {
            voting: voting,
            signup: true,
        }
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{% static 'js/grafica_visualizer.js' %}"></script>

</body>
{% endblock %}