{% load i18n static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Decide!{% endblock %}</title>
    {% block extrahead %}{% endblock %}
</head>

<body>
    {% block vue_app %}
    {% endblock %}
    <b-navbar toggleable="lg" type="dark" variant="primary">
        <b-navbar-brand class="ms-4" href="{% url 'inicio' %}">Decide</b-navbar-brand>
            <b-navbar-nav class="ml-auto" v-if="!signup">
                <b-nav-item href="#" v-on:click="decideLogout">
                    {% trans "logout" %}
                </b-nav-item>
            </b-navbar-nav>
        <b-navbar-toggle class="me-4" target="nav-collapse"></b-navbar-toggle>
    </b-navbar>
    <div class="container-fluid pt-5 mt-xl-4">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <footer class="decide-footer">
        <div class="copyright text-center">
        © 2021 Decide Veleta Team
        </div>
    </footer>
    {% block extrabody %}{% endblock %}
</body>
</html>
