.voting {
    margin-top: 20px;
    margin-left: 40px;
}

html {
  min-height: 100%;
  position: relative;
}

.decide-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: #0d6efd;
  border-top: .1rem solid #0d6efd;
  display: block;
}

.estadisticas_votacion {
  margin-top: 10px;
  margin-left: 60px;
  border: 1px solid rgb(0, 0, 0);
}

#metricas td {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
}

#metricas td:nth-child(1){
  background-color: #c8c8c8;
}

#titulo_metricas {
  margin-top: 10px;
  margin-left: 60px;
}

